@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", "sans-serif";
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #4a3535;
    background-color: #5f4b4b;
    background-color: #4158D0;
    background: #3a7dd0;  
    background: -webkit-linear-gradient(to right, #FFC837, #FF8008);
    background: linear-gradient(to right, #3a3324, #074c7a);
    margin: 0;
    padding: 0;
}

.heading {
    font-size: 5em;
}

button {
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    background: #131415; 
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    background: linear-gradient(to right, #243B55, #141E30);
    color: #fff;
    background: #131415;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    color: rgb(210, 217, 224);
    border: none;
    border-radius: 5px;
}

button:hover {
    background: #D1913C;
    background: -webkit-linear-gradient(to right, #FFD194, #D1913C);
    background: linear-gradient(to right, #FFD194, #D1913C);
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.close {
    float: right;
    cursor: pointer;
    font-size: 24px;
    color: #777;
}

.close:hover {
    color: #333;
}

textarea {
    width: 100%;
    height: 100px;
    resize: none;
}

.recipe {
    background: #a4937c;
    background: -webkit-linear-gradient(to right, #FFD194, #D1913C);
    background: linear-gradient(to right, #FFD194, #D1913C);
    background: #a4937c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFD194, #D1913C);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFD194, #D1913C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recipe h3 {
    font-size: 30px;
    color: #333;
    margin-bottom: 10px;
}

.recipe p {
    font-size: 20px;
    color: #8b6868;
}

h1{
    color: white;
}
